#content{
    position: absolute;
    height: 900px;
    width: 900px;
    border: 1px solid blue;
    perspective: 1500px;
    perspective-origin: 50% 0%;
}

.platform{
    left: 50%;
    position: relative;
    transform-style: preserve-3d;
    transform: translateX(-50%) rotateX(90deg) rotateZ(45deg);
    max-width: 300px;
    max-height: 300px;
}

.top, .neon, .bottom{
    position: relative;
    transform-style: preserve-3d;
    max-width: 300px;
    max-height: 300px;
}

.bottom{
    top: -600px;
    transform: translateZ(-42px);
}

.neon{
    top: -300px;
    transform: translateZ(-36px);
}

.top-piece, .neon-top-piece{
    position: relative;
    width: 300px;
    height: 300px;
    background-color: #f4f5ff;
    box-sizing: border-box;
    border: 1px solid #f2f2f2; 
}

.first-side-piece, .neon-first-side-piece{
    position: relative;
    width: 300px;
    height: 36px;
    background-color: #919399;
    transform: translateY(-50%) rotateX(90deg) translateY(-50%);
    border-radius: 6px 0 0 0;
}

.second-side-piece, .neon-second-side-piece{
    position: relative;
    width: 36px;
    height: 300px;
    background-color: #bbbec6;
    left: 300px;
    top: -336px;
    transform: translateX(-50%) rotateY(90deg) translateX(50%);
    border-radius: 0 6px 0 0;
}

.neon-top-piece{
    border: none;
    background-color: cornflowerblue;
}
.neon-second-side-piece{
    top: -306px;
    width: 6px;
    background-color: cornflowerblue;
}

.neon-first-side-piece{
    height: 6px;
    background-color: cornflowerblue;
}